/* Main stuff */

:root {
    --primary-color: #FAEAB1;
    --secondary-color: #E5BA73;
    --background-color: rgb(255, 255, 255);
    --background-color2: #F7F1E5;
    --text-color: #202020;
}
* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

body {
    background-color: var(--background-color);
}
nav {
    background-color: var(--primary-color) !important;
}

/* List items */

ul {
    display:flex;
    margin: 0 !important;
    padding: 0 !important;
}
ul li {
    list-style: none;
}
ul li a {
    font-size: 25px !important;
    color: var(--text-color);
    padding: 0 30px !important;

}

/* Navigation bar */

.navbar{
    background-color: var(--primary-color);
    padding: 0 0 !important;
}
.navigationBar {
    padding: 0 !important;
    width:fit-content !important;
}

/* Tables */

table, td, tr, th{
    border: 1px solid black;
    padding: 5px 5px;
}

/* Images */

.logoImg{
    width: 70px;
    height: 70px;
    margin: 0 25px
}

/* Buttons */

.current {
    background-color: var(--secondary-color);
}
.menuButton a:hover, .current a:hover{
    background-color: var(--secondary-color);
    color: var(--text-color) !important;
}
.niceButton {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}
button a {
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}
.buttons{
    margin: 20px 1%;
}
.setButton{
    padding: 0 45px;
}
.settingsButton{
    padding: 5px 5px;
    border-radius: 50%;
}
.settingsButton:hover {
    background-color: var(--secondary-color);
}

/* Login page */

.loginImgContainer {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
img.loginLogo {
    width: 15%;
    height: 15%;
}
.loginInputContainer {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.loginInput{
    text-align: center;
    padding: 10px;
    margin: 12px 0;
}

/* containers */
.inputContainer {
    background-color: var(--background-color2);
    margin-top: 10px !important;
    padding: 30px 30px !important;
    border-radius: 2%;
}
.footer {
    background-color: var(--background-color2);
}

/* For scripts */

.teach, .stud {
    display: none;
}
