:root {
    --primary-color: #e7d10a;
    --secondary-color: #ee8937;
    --background-color: #ffffff;
    --text-color: #202020;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
nav {
    width: 100%;
    margin: 1% 0;
    /* height: 50vh; */
    background-color: var(--primary-color);
}
body {
    background-color: var(--background-color);
}
form {
    padding: 20px 20px;
}
.current {
    background-color: var(--secondary-color);
}
img{
    float: left;
    width: 70px;
    height: 70px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    float: left;
    /* display: inline-block; */
    line-height: 70px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    color: var(--text-color);
    padding: 0 20px;

}

nav ul li.menuButton:hover {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}

button a {
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}

button:hover {
    background-color: var(--secondary-color);
}
button a:hover {
    border-width: 3px;
    border-color: black;
}
.buttons{
    margin: 20px 1%;
}
.teach {
    visibility: hidden;
}
.stud {
    visibility: hidden;
}