:root {
    --primary-color: #e7d10a;
    --secondary-color: #ee8937;
    --background-color: #ffffff;
    --text-color: #202020;
}
.teach, .stud {
    display: none;
}
nav ul {
    display:flex;
}
body {
    padding: 20px 20px;
    background-color: var(--background-color);
}
form {
    padding: 20px 20px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
table, td, tr, th{
    border: 1px solid black;
    padding: 5px 5px;
}
nav {
    width: 100%;
    margin: 1% 0;
    /* height: 50vh; */
    background-color: var(--primary-color);
}
.current {
    background-color: var(--secondary-color);
}
img{
    float: left;
    width: 70px;
    height: 70px;
}
nav ul li {
    list-style: none;
    float: left;
    /* display: inline-block; */
    line-height: 70px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    color: var(--text-color);
    padding: 0 20px;

}

.menuButton a:hover, .current a:hover{
    background-color: var(--secondary-color);
    color: var(--text-color) !important;
}

button {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}

button a {
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color: var(--text-color);
}
.buttons{
    margin: 20px 1%;
}

.loginImgContainer {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
img.loginLogo {
    width: 15%;
    height: 15%;
}
.loginInputContainer {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.loginInput{
    text-align: center;
    padding: 10px;
    margin: 12px 0;
   
}
.btn-minecraft {
    font-family: 'Minecraftia', sans-serif;
    background: #727272;
    color: rgb(247, 247, 247);
    width: 200px;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
                inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .btn-minecraft:hover {
    background: rgba(115, 107, 221, 1);
  }